<nav class="navbar navbar-light navbar-expand-md bg-light navigation-clean-button">
    <div class="container">
        <a class="navbar-brand" href="/">Inicio</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav mr-auto">
                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/routes">Rutas</a>
                </li>
                <li class="dropdown nav-item">
                    <a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#">Puntos&nbsp;</a>
                    <div class="dropdown-menu" role="menu">
                        <a class="dropdown-item" role="presentation" href="/beacons">de Prueba de paso</a>
                        <a class="dropdown-item" role="presentation" href="/reward-points">de Recompensa</a>
                    </div>
                </li>

                <% if(role === "user" || role === "hostelero"){ %>

                <li class="nav-item" role="presentation">
                    <a class="nav-link" href="/rewards">Recompensas</a>
                </li>

                <% } %>

            </ul>
            <span class="navbar-text actions">
                <a href="/accounts/details" class="login">Cuenta</a>
                <a class="btn btn-danger text-white" role="button" href="/accounts/logout">Cerrar sesión</a>
            </span>
        </div>
    </div>
</nav>